body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #40514E;
}

h1 {
  margin: 70px auto 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 5.62rem;
  color:#66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p{
  line-height: 2;
}

.top-container {
  background-color: #CEE5D0;
  padding-top: 50px;
  position: relative;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.profile-photo{
  width: 200px;
  height: 200px;
}
.website{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.forex{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro{
  width: 30%;
  margin:auto;
  text-align: left;
}
.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  font-size: 20px;
  background: #51d1b7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #33de69;
  text-decoration: none;
}
.copy-write{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
